<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailseite {{ produkt.name }}</title>
</head>
<body>
    <h1>{{ produkt.name }}</h1>
    
    <p> {{ produkt.preis }} </p>
    
    <img
        src="{{ produkt.bild }}"
        class="img-fluid rounded-top"
        alt="Produktbild {{ produkt.name }}"
        width="300px"
    />

    <hr>
    
    <a href="/">Zurück zur Startseite</a>
    <!-- TODO Link zurück zur Startseite -->
    
    <style>
        .img {
            width: 200px;
        }
    </style>
</body>
</html>